@use "../common/basis.scss";
@use "../common/card.scss";

.teaching-main {
	max-width: 1366px;
	margin: 0 auto;
}

.page-title {
	@include basis.page-title;
}

.card {
	padding: 0 1rem;
}

.footer,
.contact {
	background: var(--off-white);
}

.footer {
	margin-top: 7rem;
}
