@use "../common/basis";

.intro {
	max-width: 1388px;
	margin: auto;

	@include basis.flex-centre;
}

.profile,
.info {
	width: 50%;
	padding: 6.19rem;
	overflow: hidden;
	flex-direction: column;
	@include basis.flex-centre;
}

.profile__pic {
	border-radius: 50%;
	margin-bottom: 2rem;
	max-width: 100%;
	height: auto;
}

.profile__anchor {
	text-decoration: none;
	height: 35px;
	display: inline-block;
}

.profile__icon {
	height: 35px;
	margin: 0.4rem;
  transition: transform 0.2s;

	&:hover {
		transform: translateY(-6px);
	}
}

.info__name {
	font: var(--h1-home);
	color: var(--dark-blue);
	margin: 0;
	margin-bottom: 1.25rem;
	text-align: center;
}

.info__role {
	text-align: center;
	font: var(--sub-text);
	color: var(--black);
	font-size: 1.65rem;
	@include basis.flex-centre;
	flex-direction: column;
	margin: 0;
}

.info__uni {
	text-align: center;
	color: var(--sky-blue);
	text-decoration: none;

	&:hover,
	&:focus-visible {
		text-decoration: underline;
	}

	&:active {
		color: var(--black);
	}
}

.info__bio {
	font: var(--p);
	color: var(--black);
	text-align: justify;
}

.info__media {
	display: none;
}

.info__to-research {
	@include basis.button;
	margin-top: 2.5rem;
}

@media (max-width: 1100px) {
	.profile,
	.info {
		padding: 6rem 4rem;
	}

	.profile {
		width: 40%;
	}

	.info {
		width: 60%;
	}

	.info__bio {
		text-align: left;
	}

	.profile__icon {
		height: 25px;
	}
}

@media (max-width: 800px) {
	.intro {
		flex-direction: column;
	}

	.profile {
		padding: 3rem 0 1rem 0;
		width: 50%;
	}

	.info {
		padding: 0;
		padding-bottom: 3rem;
		width: 60%;
	}

	.info__name {
		margin-bottom: 0;
	}

	.profile__media {
		display: none
	}
	
	.info__media {
		display: block;
	}

	.info__bio {
		text-align: center;
		margin-top: 2rem;
	}
}

@media (max-width: 600px) {
	.info__name {
		font-size: 2.57rem;
	}

	.info__role, .info__uni {
		font-size: 1.25rem;
	}

	.info {
		width: 80%;
	}

	.profile {
		width: 60%;
	}
}