@use "../common/basis.scss";
@use "../common/card.scss";

.research-main {
	max-width: 1366px;
	margin: 0 auto;
	padding: 0 2rem;
}

.background-deco {
	position: absolute;
	font-size: 229px;
	color: #f6f7f8c7;
	z-index: -1;
	transform: rotate(90deg);
	top: 40rem;
	right: -300px;
	overflow: hidden;
	line-height: 1;
}

.page-title {
	@include basis.page-title;
}

.published-papers,
.ongoing-research {
	margin-bottom: 9rem;
}

.published-papers__title,
.ongoing-research__title {
	text-align: center;
	font: var(--h2);
	color: var(--black);
	margin-bottom: 4rem;
}

.button-wrapper {
	@include basis.flex-centre;
}

.cv-button {
	@include basis.button;
	margin-top: -3rem;
}

.footer,
.contact {
	background: var(--off-white);
}

.footer {
	margin-top: 7rem;
}

@media (max-width: 1550px) {
	.background-deco {
		display: none;
	}

	.research-main {
		padding: 0 4rem;
	}

	.page-title {
		margin: 5rem auto;
	}
}

@media (max-width: 1000px) {
	.ongoing-research {
		margin-bottom: 7rem;
	}

	.footer {
		margin-top: 4rem;
	}

	.published-papers__title,
	.ongoing-research__title {
		margin-bottom: 1.5rem;
		font-size: 2rem;
	}

	.published-papers,
	.ongoing-research {
		margin-bottom: 5rem;
	}

	.page-title {
		text-align: center;
		font-size: 4rem;
		margin: 3rem auto;
	}

	.research-main {
		padding: 0 2rem;
	}
}

@media (max-width: 600px) {
	.page-title {
		font-size: 3.5rem;
		margin: 3rem auto;
	}
}

@media (max-width: 400px) {
	.ongoing-research {
		margin-bottom: 5rem;
	}

	.footer {
		margin-top: 3rem;
	}
}
