@use "./basis.scss";

.card {
	max-width: 1366px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
	@include basis.reset-general;
}

.card__title {
	font: var(--h3);
	color: var(--black);
	@include basis.reset-general;
}

.card__link {
	font: var(--sub-text);
	color: var(--gray);
	margin: 0;
}

.card__link--journal {
	font-style: italic;
}

.card__link--published {
	@include basis.reset-a;

	&:hover,
	&:focus-visible {
		color: var(--dark-blue);
	}

	&:active {
		text-decoration: none;
	}
}

.card__abstract-title {
	font: var(--abstract);
	letter-spacing: 0.22rem;
	margin: 0;
	padding: 2rem 0 0.3rem 0;
	color: var(--black);
	border-bottom: 1px black solid;
}

.card__abstract-content {
	margin: 0;
	padding-top: 0.5rem;
	font: var(--p);
	color: var(--black);
}

.card__images,
.card__figure {
	@include basis.flex-centre;
	flex-direction: column;
}

.card__caption {
	font: var(--caption);
	color: var(--gray);
	max-width: 28rem;
	text-align: justify;
	padding-top: 1rem;
}

.card__img {
	height: auto;
	max-width: 100%;
}

.card__uni {
	margin: 0;
	margin-top: 0.2rem;
	font: var(--sub-text);
	color: var(--gray);
}

.card__link--zip::before {
	content: url("../../assets/Icon\ metro-file-zip.svg");
	position: relative;
	top: 3px;
	margin: 0 3px;
}

@media (max-width: 1000px) {
	.card {
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 80%;
		margin: auto;
	}

	.card__abstract-content {
		text-align: justify;
	}

	.card__text {
		margin-bottom: 3rem;
	}

	.card__title {
		font-size: 1.5rem;
	}

	.card__abstract-title {
		font-size: 1.1rem;
	}
}

@media (max-width: 600px) {
	.card {
		width: 100%;
	}

	.card__caption {
		text-align: left;
    width: 100%;
	}

  .card__figure {
    margin: 0;
  }
}
